<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title About
    body
        .wrapper
            section.section.hero
                ul.socials
                    li.socials__item
                        a(href="").socials__link
                    li.socials__item
                        a(href="").socials__link
                    li.socials__item
                        a(href="").socials__link
            section.section.about
            section.section.map
 